

<h2>Pictures</h2>


@{
    Html.RenderAction("Create", new { id = ViewBag.AlbumRefId });
}
<hr />
<div id="PhotoContainer">
    @{
        Html.RenderAction("List", new { id = ViewBag.AlbumRefId });
    }
</div>


